body {
    background: #EDEDED;
}

.page-header {
    margin: 0;
    border-bottom: 1px solid transparent;
    text-align: left;
    background-color: rgb(237, 237, 237);
    padding: 32px 22px 32px 0;
    color: #323232;
}

.breadcrumb {
    padding: 12px 10px 12px 20px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #1388cb;
    color: aliceblue;
    font-family: 'Microsoft YaHei';
}

    .breadcrumb a {
        color: aliceblue;
    }

.breadcrumb, a:hover {
    color: azure;
}

    .breadcrumb > .active {
        color: aliceblue;
    }

.board .panel {
    padding: 25px 15px;
    border: none;
    background: #fff;
}

.board .number {
    float: left;
}

.board .icon {
    float: right;
}

.board .panel .icon .fa {
    font-size: 30px;
    color: #FFFFFF;
    background: #30A5FF;
    padding: 19px;
}

.cblue {
    background: #30A5FF !important;
}

.green {
    background: #1ABC9C !important;
}

.yellow {
    background: #FABE28 !important;
}

.red {
    background: #f36a5a !important;
}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}